.banner {
  background-color: hsl(216, 100%, 25%);
  width: 100%;
  min-height: 50px;
  height: 10%;
  position: fixed;
  top: 0%;
}

.logo {
  height: 100%;
  position: absolute;
  left: 2rem;

}

.links {
  position: absolute;
  top: 10%;
  right: 2rem;
}

.menu {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.menu a {
  padding: 6px;
  margin: 8px;
  color: hsl(0, 0%, 100%);
  font-size: larger;
}

.menu a:hover {
  transition: all 1s ease;
  text-decoration: underline;
  color: aqua;
}