.banner {
  background-color: hsl(216, 100%, 25%);
  width: 100%;
  min-height: 65px;
  height: 10vh;
  position: sticky;
  top: 0%;
  display: block;
}

.logo {
  height: 100%;
  position: absolute;
  left: 2rem;
}

.links {
  position: absolute;
  right: 0%;
}

.links .icons {
  margin: 6px;
  margin-right: 16px;
  height: 20px;
  color: white;
}

.icons:hover {
  fill: aqua;
}

.menu {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.menu a {
  padding: 6px;
  margin: 8px;
  color: hsl(0, 0%, 100%);
  font-size: larger;
}

.menu a:hover {
  transition: all 1s ease;
  text-decoration: underline;
  color: aqua;
}