#root {
  margin: 0 auto;
  text-align: left;
}

p {
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  position: relative;
  text-align: right;
  color: grey;
  font-size: small;
  bottom: 0%;
}